@charset "UTF-8";
@import "compass";
@import "compass/reset";

@include font-face(
        "Museo Sans Cyrl 100", font-files(
                "MuseoSansCyrl_100.woff", woff,
                "MuseoSansCyrl_100.otf", otf,
                "MuseoSansCyrl_100.ttf", ttf
));
@include font-face(
        "Museo Sans Cyrl 300", font-files(
                "MuseoSansCyrl_300.woff", woff,
                "MuseoSansCyrl_300.otf", otf,
                "MuseoSansCyrl_300.ttf", ttf
));
@include font-face(
        "Museo Sans Cyrl 500", font-files(
                "MuseoSansCyrl_300.woff", woff,
                "MuseoSansCyrl_300.otf", otf,
                "MuseoSansCyrl_300.ttf", ttf
));
@include font-face(
        "Minion Pro Regular", font-files(
                "MinionPro-Regular.woff", woff,
                "MinionPro-Regular.otf", otf,
                "MinionPro-Regular.ttf", ttf
));

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

*::selection {
  background: #38bea9; /* Safari */
  color: #FFFFFF;
}

*::-moz-selection {
  background: #38bea9; /* Firefox */
  color: #FFFFFF;
}

%var_non-active {
  background: #8bdfd2;
}

%var_active_non-hover {
  background: #31AC99;
}

%var_active-hover {
  background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: linear-gradient(to top, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
}

%var_border_rad {
  -moz-border-radius: 0.4vw;
  -webkit-border-radius: 0.4vw;
  border-radius: 0.4vw;
}

%var_change_color_btn {
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %var_border_rad;
    @extend %var_active-hover;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    z-index: 2;
    opacity: 0;
  }
  &.active:hover:after {
    opacity: 1;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
  }
}

%var_flick_span {
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0px);
}

%button-gr {
  position: relative;
  cursor: pointer;
  color: #FFF;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.25vw;
  width: 17.6vw;
  height: 3.3vw;
  @extend %var_non-active;
  &.active {
    @extend %var_active_non-hover;
  }
  @extend %var_border_rad;
  @extend %var_change_color_btn;
  @extend %var_flick_span;
  > div {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 13.5vw;
    text-align: center;
    padding: 1.1vw 0 0 0.5vw;
  }
  .arrow {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 8;
    width: 2.5vw !important;
    svg {
      width: 1.2vw;
      height: 1.2vw;
    }
  }
}

%soft_decoration {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

%var_slideInDown {
  &.slideInDown {
    display: block;
    animation-name: slideInDown;
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
  }
}

.lodo_smm {
  padding: 3.6vw 7.75vw 2.25vw;
  width: 12vw;
}

.main_wrapper {
  padding: 0 7.75vw 2vw 7.75vw;
  height: 58vw;
  > div {
    display: inline-block;
    width: 45%;
  }
  .in {
    float: left;
    h1 {
      color: #000;
      font-family: "Museo Sans Cyrl 500";
      font-size: 1.9vw;
      padding-bottom: 2.8vw;
    }
    .input_p {
      color: #000;
      font-family: "Museo Sans Cyrl 300";
      font-size: 1.25vw;
      margin-bottom: 0.7vw;
    }
    .input_searchline {
      padding-bottom: 1.8vw;
      p{
        margin-bottom: 0.3vw;
      }
      div {
        margin-top: 0.7vw;
        padding-top: 0.2vw;
        width: 22.3vw;
        height: 2vw;
        border: 1px solid #38BEA9;
        @extend %var_border_rad;
        color: #CDCDCD;
        font-family: "Museo Sans Cyrl 100";
        font-size: 1.1vw;
        vertical-align: middle;
        padding-left: 0.6vw;
        span{
          text-align: right;
        }
        input {
          border: none;
          color: #000;
          font-family: "Museo Sans Cyrl 100";
          font-size: 1.1vw;
          margin-top: 0.1vw;
          height: 1.5vw;
          width: 18.5vw;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .input_listblock {
      div {
        width: 33.2vw;
        height: 30.5vw;
        border: 0.1vw solid #38BEA9;
        @extend %var_border_rad;
        vertical-align: top;
      }
      textarea {
        border: none;
        color: #000;
        font-family: "Museo Sans Cyrl 100";
        font-size: 1.1vw;
        height: 29.5vw;
        width: 30.5vw;
        margin: 0.5vw 0 0 1.2vw;
        resize: none;
        &:focus {
          outline: none;
        }
      }
    }
    .in_excel {
      padding: 1.2vw 0 1.75vw;
      position: relative;
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"] + label {
        cursor: pointer;
        padding-left: 0;
      }
      input[type="checkbox"] + label::before {
        content: "";
        display: inline-block;
        height: 1.25vw;
        width: 1.2vw;
        background: url("../checkboxes.png");
        background-size: 1.2vw 2.5vw
      }
      input[type="checkbox"]:checked + label::before {
        background-position: 0 -1.3vw;
      }
      span {
        color: #4E4E4E;
        font-family: "Museo Sans Cyrl 500";
        font-size: 1.1vw;
        position: relative;
        top: -0.2vw;
      }
    }
    .btn_green {
      @extend %button-gr;
      .arrow {
        left: -0.3vw;
      }
      .btn_list {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        width: 32.8vw;
        height: 4.4vw;
        text-align: left;
        @extend %var_border_rad;
        color: #FFF;
        font-family: "Museo Sans Cyrl 100";
        display: none;
        font-size: 1.12vw;
        @extend %var_active-hover;
        @extend %var_slideInDown;
        cursor: default;
        p {
          margin-left: 0.6vw;
          padding: 0.2vw 0 0.5vw;
          span {
            cursor: pointer;
            font-family: "Museo Sans Cyrl 300";
            border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
            &:hover{
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  .out {
    margin: 0 1.7vw 0.1vw 0;
    float: right;
    .out_headblock {
      color: #000;
      font-family: "Museo Sans Cyrl 500";
      font-size: 1.9vw;
      padding-bottom: 1.6vw;
      height: 3.8vw;
      a {
        color: #000;
        text-decoration: none;
        @extend %soft_decoration;
      }
    }
    .subheader {
      .subheader_link {
        display: inline-block;
        font-family: "Museo Sans Cyrl 100";
        font-size: 1.4vw;
        text-decoration: none;
        color: #000;
        width: 8.4vw;
        span {
          color: #CDCDCD;
          padding-left: 0.6vw;
        }
        .slable {
          border-bottom: 1px dotted rgba(224, 217, 217, 0.94);
          cursor: pointer;
          padding-left: 0;
        }
        &.chosen {
          font-family: "Museo Sans Cyrl 500";
          .slable {
            border-bottom: none;
            cursor: default;
            color: #000;
          }
        }
      }
      .del {
        width: 10vw;
        padding-right: 1vw;
      }
      .hand{
        width: 14vw;
      }
    }
    .resultblock {
      margin: 1.2vw 0 0 -2vw;
      width: 43.5vw;
      height: 36vw;
      position: relative;
      z-index: 4;
      .loader {
        width: 6vw;
        height: 6vw;
        position: absolute;
        z-index: 5;
        top: 10vw;
        left: 13vw;
      }
      .el_list_link {
        margin-top: 0.56vw;
        height: 1.25vw;
        > div {
          display: inline-block;
          vertical-align: middle;
        }
        .number {
          color: #CDCDCD;
          font-family: "Museo Sans Cyrl 100";
          font-size: 1.1vw;
          width: 2.8vw;
          text-align: center;
          margin-left: -1vw;
        }
        .link {
          position: relative;
          overflow-x: hidden;
          width: 33vw;
          height: 1.2vw;
          div {
            overflow: hidden;
          }
          a {
            text-decoration: none;
            position: absolute;
            white-space: nowrap;
            color: #000;
            font-family: "Museo Sans Cyrl 300";
            font-size: 1.1vw;
            p {
              @extend %soft_decoration;
              position: absolute;
            }
          }
        }
        .shadow {
          position: relative;
          margin-left: 0.3vw;
          width: 1.5vw;
          height: 1.2vw;
          box-shadow: -1.3vw 0 1.2vw 0.3vw #fff;
        }
        .add_info {
          margin-left: 0.4vw;
          height: 1vw;
          span {
            position: relative;
            color: #38BEA9;
            font-family: "Museo Sans Cyrl 100";
            font-size: 0.9vw;
            text-transform: uppercase;
            padding-right: 0.3vw;
            cursor: pointer;
            &:after {
              display: none;
              text-align: center;
              opacity: 0;
              padding: 0.4vw;
              text-transform: none;
              font-size: 0.9vw;
              width: 7vw;
              height: 3vw;
              position: absolute;
              top: -4.15vw;
              left: -3.5vw;
              color: #000000;
              background-color: rgba(173, 173, 173, 0.15);
              border-radius: 0.4vw;
            }
            &:before {
              content: "";
              opacity: 0;
              position: absolute;
              z-index: 1000;
              bottom: 0.95vw;
              left: 50%;
              margin-left: -0.7vw;
              border-top: 0.5vw solid rgba(173, 173, 173, 0.1);
              border-left: 0.5vw solid transparent;
              border-right: 0.5vw solid transparent;
              border-bottom: 0;
            }
            &:hover:after,&:hover:before {
              display:block;
              opacity: 0.9;
            }
          }
          .rd:after {
            content: "Ссылка с редиректом";
            width: 10vw;
            height: 0.8vw;
            left: -5vw;
            top: -1.88vw;
          }
          .nix:after {
            content: "Ссылка с аттрибутом noindex";
          }
          .nfl:after {
            content: "Ссылка с аттрибутом nofollow";
          }
        }
      }
    }
  }
  .next_prev {
    z-index: 3;
    position: relative;
    width: 37vw;
    margin-top: 0.5vw;
    margin-left: 6.5vw;
    height: 3vw;
    a {
      position: absolute;
      color: #000;
      font-size: 1.1vw;
      text-decoration: none;
      font-weight: 400;
      font-family: "Museo Sans Cyrl 300";
      border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
      span {
        font-family: "Minion Pro Regular";
      }
    }
    #next {
      left: 25.3vw;
    }
  }
  .btn_wrapper {
    position: absolute;
    background: #ffffff;
    width: 35vw;
    height: 18vw;
    z-index: 2;
    left: 46vw;
    top: 50vw;
  }
  .btn_copy {
    position: relative;
    @extend %button-gr;
    @extend %var_change_color_btn;
    margin-left: 7vw;
    width: 21.5vw;
    cursor: pointer;
    z-index: 3;
    > div {
      width: 17vw;
    }
    .info_tip{
      position: absolute;
      opacity: 0;
      top: -23.8vw;
      left: 2.3vw;
      color: #FFF;
      font-family: "Museo Sans Cyrl 300";
      font-size: 1.1vw;
      line-height: 1.5vw;
      width: 28.8vw;
      height: 4vw;
      background-color: #000;
      @extend %var_border_rad;
      &.slide-top {
        -webkit-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        /* easeOutQuad */
        -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        opacity: 1;
        /* easeOutQuad */
      }
      &.slide-bottom {
        -webkit-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        /* easeOutQuad */
        -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        opacity: 0;
        /* easeOutQuad */
      }
      p{
        opacity: 1;
      }
    }
    &.deleted{
      width: 20.5vw;
      .del_lable{
        width: 19.5vw;
      }

    }
    &.handed{
      width: 26.9vw;
      .hand_lable{
        width: 26vw;
      }
  }
    .btn_status {
      position: absolute;
      z-index: 10;
      color: #FFF;
      font-family: "Museo Sans Cyrl 300";
      font-size: 1.12vw;
      width: 23.5vw;
      height: 8.4vw;
      top: 0;
      left: 0;
      @extend %var_active-hover;
      @extend %var_border_rad;
      text-align: left;
      display: none;
      ul {
        list-style: none;
        padding: 0.3vw 0 0 1.2vw;
        li {
          padding-bottom: 0.7vw;
          width: 100%;
          cursor: pointer;
          span {
            float: right;
            margin-right: 2.1vw;
            text-align: left;
            width: 0.5vw;
            font-size: 0.9vw;
            margin-top: 0.1vw;
          }
        }
      }
      //@extend %var_change_color_btn;
      @extend %var_slideInDown;
    }

  }

  .underscription {
    color: #000;
    font-family: "Museo Sans Cyrl 300";
    font-size: 0.92vw;
    margin: 2vw 0 0 7vw;
    float: right;
    z-index: 2;
    position: relative;
    left: -1.3vw;
    a {
      color: #000;
      @extend %soft_decoration;
    }
  }
}

footer {
  height: 5vw;
  padding: 0.5vw 5.75vw 3vw 7.75vw;
  width: 84.5vw;
  color: #696969;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  > div {
    display: inline-block;
    a {
      color: #696969;
      @extend %soft_decoration;
      height: 1.5vw;
    }
    p {
      height: 1.6vw;
    }
  }
  .for {
    float: right;
    text-align: right;
  }
}

.clicker {
  position: relative;
  z-index: 8;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 0.85;
  }
}

