@import "compass";
@import "compass/reset";

@include font-face(
        "Museo Sans Cyrl 100", font-files(
                "MuseoSansCyrl_100.woff", woff,
                "MuseoSansCyrl_100.otf", otf,
                "MuseoSansCyrl_100.ttf", ttf
));
@include font-face(
        "Museo Sans Cyrl 300", font-files(
                "MuseoSansCyrl_300.woff", woff,
                "MuseoSansCyrl_300.otf", otf,
                "MuseoSansCyrl_300.ttf", ttf
));
@include font-face(
        "Museo Sans Cyrl 500", font-files(
                "MuseoSansCyrl_300.woff", woff,
                "MuseoSansCyrl_300.otf", otf,
                "MuseoSansCyrl_300.ttf", ttf
));
@include font-face(
        "Minion Pro Regular", font-files(
                "MinionPro-Regular.woff", woff,
                "MinionPro-Regular.otf", otf,
                "MinionPro-Regular.ttf", ttf
));
*::selection {
  background: #38bea9 ; /* Safari */
  color: #FFFFFF;
}
*::-moz-selection {
  background: #38bea9 ; /* Firefox */
  color: #FFFFFF;
}
%button-gr{

    color: #FFF;
    font-family: "Museo Sans Cyrl 300";
    font-size: 1.25vw;
    width: 17.6vw;
    height: 3.3vw;

    background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
    background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
    background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
    background-image: linear-gradient(to top, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
    -moz-border-radius: 0.4vw;
    -webkit-border-radius: 0.4vw;
    border-radius: 0.4vw;
    > div {
      display: inline-block;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 13.5vw;
      text-align: center;
      padding: 1.1vw 0 0 0.5vw;
    }
    .arrow {
      border-left: 1px solid #FFF;
      width: 2.5vw !important;
    }
}

%soft_decoration{
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.lodo_smm {
  padding: 3.6vw 7.75vw 2.25vw;
  width: 12vw;
}

.main_wrapper {
  padding: 0 7.75vw 2vw 7.75vw;
  height: 58vw;
  > div {
    display: inline-block;
    width: 45%;
  }
  .in {
    float: left;
    h1 {
      color: #000;
      font-family: "Museo Sans Cyrl 500";
      font-size: 1.9vw;
      padding-bottom: 2.8vw;
    }
    .input_p {
      color: #000;
      font-family: "Museo Sans Cyrl 300";
      font-size: 1.25vw;
      padding-bottom: 0.7vw;
    }
    .input_searchline {
      padding-bottom: 1.8vw;
      div {
        width: 22.3vw;
        height: 2.2vw;
        border: 0.1vw solid #38BEA9;
        -moz-border-radius: 0.4vw;
        -webkit-border-radius: 0.4vw;
        border-radius: 0.4vw;
        color: #CDCDCD;
        font-family: "Museo Sans Cyrl";
        font-size: 1.1vw;
        vertical-align: middle;
        padding-left: 0.6vw;
        input {
          border: none;
          color: #000;
          font-family: "Museo Sans Cyrl";
          font-size: 1.1vw;
          height: 90%;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .input_listblock {
      div {
        width: 33.2vw;
        height: 30.5vw;
        border: 0.1vw solid #38BEA9;
        -moz-border-radius: 0.4vw;
        -webkit-border-radius: 0.4vw;
        border-radius: 0.4vw;
        vertical-align: top;
      }
      textarea {
        border: none;
        color: #000;
        font-family: "Museo Sans Cyrl";
        font-size: 1.1vw;
        height: 97%;
        width: 95%;
        margin: 0.5vw 0 0 1.2vw;
        resize: none;
        &:focus {
          outline: none;
        }
      }
    }
    .in_excel {
      padding: 1.2vw 0 1.7vw;
      input[type="checkbox"] {
        width: 0.6vw;
        height: 1vw;
      }
      span {
        color: #4E4E4E;
        font-family: "Museo Sans Cyrl 500";
        font-size: 1.1vw;
      }
    }
    .btn_green {
      position: relative;
      @extend %button-gr;
      .btn_list{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 32.8vw;
        height: 4.4vw;
        text-align: left;
        background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
        background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
        background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
        background-image: linear-gradient(to top, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
        -moz-border-radius: 0.4vw;
        -webkit-border-radius: 0.4vw;
        border-radius: 0.4vw;
        color: #FFF;
        font-family: "Museo Sans Cyrl 100";
        font-size: 1.1vw;
        display: none;
        p{
          margin-left: 0.6vw;
          padding: 0.2vw 0 0.5vw;
        }
      }
    }
  }

  .out {
    margin-right: 1.7vw;
    float: right;
    .out_headblock {
      color: #000;
      font-family: "Museo Sans Cyrl 500";
      font-size: 1.9vw;
      padding-bottom: 1.6vw;
    }
    .subheader {
      .subheader_link {
        display: inline-block;
        font-family: "Museo Sans Cyrl 100";
        font-size: 1.4vw;
        text-decoration: none;
        color: #000;
        width: 8.4vw;
        span {
          color: #CDCDCD;
          padding-left: 0.6vw;
        }
        .slable {
          border-bottom: 1px dotted rgba(224, 217, 217, 0.94);
          cursor: pointer;
          padding-left: 0;
        }
        &.chosen {
          font-family: "Museo Sans Cyrl 500";
          .slable {
            border-bottom: none;
            cursor: default;
            color: #000;
          }
        }
      }
      .del{
        width: 10vw;
      }
    }
    .resultblock {
      margin: 1.2vw 0 0 -2vw;
      width: 42.5vw;
      height: 36vw;
      position: relative;
      .loader{
        width: 6vw;
        height: 6vw;
        position: absolute;
        z-index: 5;
        top: 10vw;
        left: 13vw;
      }
      .el_list_link {
        margin-top: 0.6vw;
        >div{
          display: inline-block;
          vertical-align: middle;
        }
        .number {
          color: #CDCDCD;
          font-family: "Museo Sans Cyrl 100";
          font-size: 1.1vw;
          width: 2.8vw;
          text-align: center;
          margin-left: -1vw;
        }
        .link {
          position: relative;
          overflow-x: hidden;
          width: 33vw;
          height: 1.2vw;
          a {
            @extend %soft_decoration;
            position: absolute;
            width: 100vw;
            color: #000;
            font-family: "Museo Sans Cyrl 300";
            font-size: 1.1vw;
          }
        }
        .shadow{
          position: relative;
          margin-left: 0.3vw;
          width: 1.5vw;
          height: 1.2vw;
          box-shadow: -1.3vw 0 1.2vw 0.3vw #fff;
        }
        .add_info{
          margin-left: 0.4vw;
          height: 1vw;
         span{
           color: #38BEA9;
           font-family: "Museo Sans Cyrl 100";
           font-size: 0.9vw;
           text-transform: uppercase;
           padding-right: 0.3vw;
         }
        }
      }
    }
  }
  .next_prev{
    position: relative;
    width: 37vw;
    margin-top: 0.5vw;
    margin-left: 6.5vw;
    height: 3vw;
    a{
      position: absolute;
      color: #000;
      font-size: 1.1vw;
      text-decoration: none;
      font-weight: 400;
      font-family: "Museo Sans Cyrl 300";
      border-bottom: 1px dashed rgba(0,0,0,0.2);
      span{
        font-family: "Minion Pro Regular";
      }
    }
    #next{
      left: 25.3vw;
    }
  }
  .btn_copy{
    position: relative;
    @extend %button-gr;
    margin-left: 7vw;
    width: 21.5vw;
    >div{
      width: 17vw;
    }
    .btn_status{
      position: absolute;
      z-index: 10;
      color: #FFF;
      font-family: "Museo Sans Cyrl";
      font-size: 1.12vw;
      width: 23.5vw;
      height: 8.4vw;
      top:0;
      left: 0;
      background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
      background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
      background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
      background-image: linear-gradient(to top, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
      -moz-border-radius: 0.4vw;
      -webkit-border-radius: 0.4vw;
      border-radius: 0.4vw;
      text-align: left;
      display: none;
      ul{
        list-style: none;
        padding: 0.3vw 0 0 1.2vw;
        li{
          padding-bottom: 0.7vw;
          width: 100%;
          span{
            float: right;
            margin-right: 2.1vw;
            text-align: left;
            width: 0.5vw;
            font-size: 0.9vw;
            margin-top: 0.1vw;
          }
        }
      }
    }

  }

  .underscription{
    color: #000;
    font-family: "Museo Sans Cyrl 300";
    font-size: 0.9vw;
    font-size: 0.92vw;
    margin: 1vw 0 0 7vw;
    a{
      color: #000;
      @extend %soft_decoration;
    }
  }
}

footer {
  height: 5vw;
  padding: 0.5vw 5.75vw 3vw 7.75vw;
  width: 84.5vw;
  color: #696969;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  >div{
    display: inline-block;
    a{
      color: #696969;
      @extend %soft_decoration;
      height: 1.5vw;
    }
    p{
      height: 1.6vw;
    }
  }
  .for{
    float: right;
    text-align: right;
  }
}