@charset "UTF-8";
/* line 5, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url('../fonts/MuseoSansCyrl_100.woff?1440710851') format('woff'), url('../fonts/MuseoSansCyrl_100.otf?1440187991') format('opentype'), url('../fonts/MuseoSansCyrl_100.ttf?1440710850') format('truetype');
}
@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url('../fonts/MuseoSansCyrl_300.woff?1440710857') format('woff'), url('../fonts/MuseoSansCyrl_300.otf?1440187991') format('opentype'), url('../fonts/MuseoSansCyrl_300.ttf?1440710857') format('truetype');
}
@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url('../fonts/MuseoSansCyrl_300.woff?1440710857') format('woff'), url('../fonts/MuseoSansCyrl_300.otf?1440187991') format('opentype'), url('../fonts/MuseoSansCyrl_300.ttf?1440710857') format('truetype');
}
@font-face {
  font-family: "Minion Pro Regular";
  src: url('../fonts/MinionPro-Regular.woff?1440793049') format('woff'), url('../fonts/MinionPro-Regular.otf?1440793049') format('opentype'), url('../fonts/MinionPro-Regular.ttf?1440793049') format('truetype');
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* line 42, ../sass/style.scss */
*::selection {
  background: #38bea9;
  /* Safari */
  color: #FFFFFF;
}

/* line 47, ../sass/style.scss */
*::-moz-selection {
  background: #38bea9;
  /* Firefox */
  color: #FFFFFF;
}

/* line 52, ../sass/style.scss */
.main_wrapper .in .btn_green, .main_wrapper .btn_copy {
  background: #8bdfd2;
}

/* line 56, ../sass/style.scss */
.main_wrapper .in .active.btn_green, .main_wrapper .active.btn_copy {
  background: #31AC99;
}

/* line 60, ../sass/style.scss */
.main_wrapper .in .btn_green:after, .main_wrapper .btn_copy:after, .main_wrapper .in .btn_green .btn_list, .main_wrapper .btn_copy .btn_status {
  background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: linear-gradient(to top, #01b99f 0%, #02caae 100%, #02d5b7 100%, #01b99f 100%);
}

/* line 67, ../sass/style.scss */
.main_wrapper .in .btn_green:after, .main_wrapper .btn_copy:after, .main_wrapper .in .btn_green, .main_wrapper .btn_copy, .main_wrapper .in .input_searchline div, .main_wrapper .in .input_listblock div, .main_wrapper .in .btn_green .btn_list, .main_wrapper .btn_copy .info_tip, .main_wrapper .btn_copy .btn_status {
  -moz-border-radius: 0.4vw;
  -webkit-border-radius: 0.4vw;
  border-radius: 0.4vw;
}

/* line 74, ../sass/style.scss */
.main_wrapper .in .btn_green:after, .main_wrapper .btn_copy:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  z-index: 2;
  opacity: 0;
}
/* line 88, ../sass/style.scss */
.main_wrapper .in .active.btn_green:hover:after, .main_wrapper .active.btn_copy:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

/* line 95, ../sass/style.scss */
.main_wrapper .in .btn_green, .main_wrapper .btn_copy {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0px);
}

/* line 102, ../sass/style.scss */
.main_wrapper .in .btn_green, .main_wrapper .btn_copy {
  position: relative;
  cursor: pointer;
  color: #FFF;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.25vw;
  width: 17.6vw;
  height: 3.3vw;
}
/* line 117, ../sass/style.scss */
.main_wrapper .in .btn_green > div, .main_wrapper .btn_copy > div {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 13.5vw;
  text-align: center;
  padding: 1.1vw 0 0 0.5vw;
}
/* line 125, ../sass/style.scss */
.main_wrapper .in .btn_green .arrow, .main_wrapper .btn_copy .arrow {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 8;
  width: 2.5vw !important;
}
/* line 130, ../sass/style.scss */
.main_wrapper .in .btn_green .arrow svg, .main_wrapper .btn_copy .arrow svg {
  width: 1.2vw;
  height: 1.2vw;
}

/* line 137, ../sass/style.scss */
.main_wrapper .out .out_headblock a, .main_wrapper .out .resultblock .el_list_link .link a p, .main_wrapper .underscription a, footer > div a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 143, ../sass/style.scss */
.main_wrapper .in .btn_green .slideInDown.btn_list, .main_wrapper .btn_copy .slideInDown.btn_status {
  display: block;
  animation-name: slideInDown;
  -webkit-transition: all 2s;
  /* Safari */
  transition: all 2s;
}

/* line 151, ../sass/style.scss */
.lodo_smm {
  padding: 3.6vw 7.75vw 2.25vw;
  width: 12vw;
}

/* line 156, ../sass/style.scss */
.main_wrapper {
  padding: 0 7.75vw 2vw 7.75vw;
  height: 58vw;
}
/* line 159, ../sass/style.scss */
.main_wrapper > div {
  display: inline-block;
  width: 45%;
}
/* line 163, ../sass/style.scss */
.main_wrapper .in {
  float: left;
}
/* line 165, ../sass/style.scss */
.main_wrapper .in h1 {
  color: #000;
  font-family: "Museo Sans Cyrl 500";
  font-size: 1.9vw;
  padding-bottom: 2.8vw;
}
/* line 171, ../sass/style.scss */
.main_wrapper .in .input_p {
  color: #000;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.25vw;
  margin-bottom: 0.7vw;
}
/* line 177, ../sass/style.scss */
.main_wrapper .in .input_searchline {
  padding-bottom: 1.8vw;
}
/* line 179, ../sass/style.scss */
.main_wrapper .in .input_searchline p {
  margin-bottom: 0.3vw;
}
/* line 182, ../sass/style.scss */
.main_wrapper .in .input_searchline div {
  margin-top: 0.7vw;
  padding-top: 0.2vw;
  width: 22.3vw;
  height: 2vw;
  border: 1px solid #38BEA9;
  color: #CDCDCD;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  vertical-align: middle;
  padding-left: 0.6vw;
}
/* line 194, ../sass/style.scss */
.main_wrapper .in .input_searchline div span {
  text-align: right;
}
/* line 197, ../sass/style.scss */
.main_wrapper .in .input_searchline div input {
  border: none;
  color: #000;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  margin-top: 0.1vw;
  height: 1.5vw;
  width: 18.5vw;
}
/* line 205, ../sass/style.scss */
.main_wrapper .in .input_searchline div input:focus {
  outline: none;
}
/* line 212, ../sass/style.scss */
.main_wrapper .in .input_listblock div {
  width: 33.2vw;
  height: 30.5vw;
  border: 0.1vw solid #38BEA9;
  vertical-align: top;
}
/* line 219, ../sass/style.scss */
.main_wrapper .in .input_listblock textarea {
  border: none;
  color: #000;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  height: 29.5vw;
  width: 30.5vw;
  margin: 0.5vw 0 0 1.2vw;
  resize: none;
}
/* line 228, ../sass/style.scss */
.main_wrapper .in .input_listblock textarea:focus {
  outline: none;
}
/* line 233, ../sass/style.scss */
.main_wrapper .in .in_excel {
  padding: 1.2vw 0 1.75vw;
  position: relative;
}
/* line 236, ../sass/style.scss */
.main_wrapper .in .in_excel input[type="checkbox"] {
  display: none;
}
/* line 239, ../sass/style.scss */
.main_wrapper .in .in_excel input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 0;
}
/* line 243, ../sass/style.scss */
.main_wrapper .in .in_excel input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 1.25vw;
  width: 1.2vw;
  background: url("../checkboxes.png");
  background-size: 1.2vw 2.5vw;
}
/* line 251, ../sass/style.scss */
.main_wrapper .in .in_excel input[type="checkbox"]:checked + label::before {
  background-position: 0 -1.3vw;
}
/* line 254, ../sass/style.scss */
.main_wrapper .in .in_excel span {
  color: #4E4E4E;
  font-family: "Museo Sans Cyrl 500";
  font-size: 1.1vw;
  position: relative;
  top: -0.2vw;
}
/* line 264, ../sass/style.scss */
.main_wrapper .in .btn_green .arrow {
  left: -0.3vw;
}
/* line 267, ../sass/style.scss */
.main_wrapper .in .btn_green .btn_list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 32.8vw;
  height: 4.4vw;
  text-align: left;
  color: #FFF;
  font-family: "Museo Sans Cyrl 100";
  display: none;
  font-size: 1.12vw;
  cursor: default;
}
/* line 283, ../sass/style.scss */
.main_wrapper .in .btn_green .btn_list p {
  margin-left: 0.6vw;
  padding: 0.2vw 0 0.5vw;
}
/* line 286, ../sass/style.scss */
.main_wrapper .in .btn_green .btn_list p span {
  cursor: pointer;
  font-family: "Museo Sans Cyrl 300";
  border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
}
/* line 290, ../sass/style.scss */
.main_wrapper .in .btn_green .btn_list p span:hover {
  border-bottom: none;
}
/* line 299, ../sass/style.scss */
.main_wrapper .out {
  margin: 0 1.7vw 0.1vw 0;
  float: right;
}
/* line 302, ../sass/style.scss */
.main_wrapper .out .out_headblock {
  color: #000;
  font-family: "Museo Sans Cyrl 500";
  font-size: 1.9vw;
  padding-bottom: 1.6vw;
  height: 3.8vw;
}
/* line 308, ../sass/style.scss */
.main_wrapper .out .out_headblock a {
  color: #000;
  text-decoration: none;
}
/* line 315, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link {
  display: inline-block;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.4vw;
  text-decoration: none;
  color: #000;
  width: 8.4vw;
}
/* line 322, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link span {
  color: #CDCDCD;
  padding-left: 0.6vw;
}
/* line 326, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link .slable {
  border-bottom: 1px dotted rgba(224, 217, 217, 0.94);
  cursor: pointer;
  padding-left: 0;
}
/* line 331, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link.chosen {
  font-family: "Museo Sans Cyrl 500";
}
/* line 333, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link.chosen .slable {
  border-bottom: none;
  cursor: default;
  color: #000;
}
/* line 340, ../sass/style.scss */
.main_wrapper .out .subheader .del {
  width: 10vw;
}
/* line 344, ../sass/style.scss */
.main_wrapper .out .resultblock {
  margin: 1.2vw 0 0 -2vw;
  width: 43.5vw;
  height: 36vw;
  position: relative;
  z-index: 4;
}
/* line 350, ../sass/style.scss */
.main_wrapper .out .resultblock .loader {
  width: 6vw;
  height: 6vw;
  position: absolute;
  z-index: 5;
  top: 10vw;
  left: 13vw;
}
/* line 358, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link {
  margin-top: 0.56vw;
  height: 1.25vw;
}
/* line 361, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 365, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .number {
  color: #CDCDCD;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  width: 2.8vw;
  text-align: center;
  margin-left: -1vw;
}
/* line 373, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .link {
  position: relative;
  overflow-x: hidden;
  width: 33vw;
  height: 1.2vw;
}
/* line 378, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .link div {
  overflow: hidden;
}
/* line 381, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .link a {
  text-decoration: none;
  position: absolute;
  white-space: nowrap;
  color: #000;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.1vw;
}
/* line 388, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .link a p {
  position: absolute;
}
/* line 394, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .shadow {
  position: relative;
  margin-left: 0.3vw;
  width: 1.5vw;
  height: 1.2vw;
  box-shadow: -1.3vw 0 1.2vw 0.3vw #fff;
}
/* line 401, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info {
  margin-left: 0.4vw;
  height: 1vw;
}
/* line 404, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info span {
  position: relative;
  color: #38BEA9;
  font-family: "Museo Sans Cyrl 100";
  font-size: 0.9vw;
  text-transform: uppercase;
  padding-right: 0.3vw;
  cursor: pointer;
}
/* line 412, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info span:after {
  display: none;
  text-align: center;
  opacity: 0;
  padding: 0.4vw;
  text-transform: none;
  font-size: 0.9vw;
  width: 7vw;
  height: 3vw;
  position: absolute;
  top: -4.15vw;
  left: -3.5vw;
  color: #000000;
  background-color: rgba(173, 173, 173, 0.15);
  border-radius: 0.4vw;
}
/* line 428, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info span:before {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 1000;
  bottom: 0.95vw;
  left: 50%;
  margin-left: -0.7vw;
  border-top: 0.5vw solid rgba(173, 173, 173, 0.1);
  border-left: 0.5vw solid transparent;
  border-right: 0.5vw solid transparent;
  border-bottom: 0;
}
/* line 441, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info span:hover:after, .main_wrapper .out .resultblock .el_list_link .add_info span:hover:before {
  display: block;
  opacity: 0.9;
}
/* line 446, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info .rd:after {
  content: "Ссылка с редиректом";
  width: 10vw;
  height: 0.8vw;
  left: -5vw;
  top: -1.88vw;
}
/* line 453, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info .nix:after {
  content: "Ссылка с аттрибутом noindex";
}
/* line 456, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info .nfl:after {
  content: "Ссылка с аттрибутом nofollow";
}
/* line 463, ../sass/style.scss */
.main_wrapper .next_prev {
  z-index: 3;
  position: relative;
  width: 37vw;
  margin-top: 0.5vw;
  margin-left: 6.5vw;
  height: 3vw;
}
/* line 470, ../sass/style.scss */
.main_wrapper .next_prev a {
  position: absolute;
  color: #000;
  font-size: 1.1vw;
  text-decoration: none;
  font-weight: 400;
  font-family: "Museo Sans Cyrl 300";
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
/* line 478, ../sass/style.scss */
.main_wrapper .next_prev a span {
  font-family: "Minion Pro Regular";
}
/* line 482, ../sass/style.scss */
.main_wrapper .next_prev #next {
  left: 25.3vw;
}
/* line 486, ../sass/style.scss */
.main_wrapper .btn_wrapper {
  position: absolute;
  background: #ffffff;
  width: 35vw;
  height: 18vw;
  z-index: 2;
  left: 46vw;
  top: 50vw;
}
/* line 495, ../sass/style.scss */
.main_wrapper .btn_copy {
  position: relative;
  margin-left: 7vw;
  width: 21.5vw;
  cursor: pointer;
  z-index: 3;
}
/* line 503, ../sass/style.scss */
.main_wrapper .btn_copy > div {
  width: 17vw;
}
/* line 506, ../sass/style.scss */
.main_wrapper .btn_copy .info_tip {
  position: absolute;
  opacity: 0;
  top: -7.5vw;
  left: 0;
  color: #FFF;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.1vw;
  line-height: 1.5vw;
  width: 28.8vw;
  height: 4vw;
  background-color: #000;
}
/* line 519, ../sass/style.scss */
.main_wrapper .btn_copy .info_tip.slide-top {
  -webkit-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  /* easeOutQuad */
}
/* line 534, ../sass/style.scss */
.main_wrapper .btn_copy .info_tip.slide-bottom {
  -webkit-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  /* easeOutQuad */
}
/* line 549, ../sass/style.scss */
.main_wrapper .btn_copy .info_tip p {
  opacity: 1;
}
/* line 553, ../sass/style.scss */
.main_wrapper .btn_copy.deleted {
  width: 20.5vw;
}
/* line 555, ../sass/style.scss */
.main_wrapper .btn_copy.deleted .del_lable {
  width: 19.5vw;
}
/* line 559, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status {
  position: absolute;
  z-index: 10;
  color: #FFF;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.12vw;
  width: 23.5vw;
  height: 8.4vw;
  top: 0;
  left: 0;
  text-align: left;
  display: none;
}
/* line 573, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status ul {
  list-style: none;
  padding: 0.3vw 0 0 1.2vw;
}
/* line 576, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status ul li {
  padding-bottom: 0.7vw;
  width: 100%;
  cursor: pointer;
}
/* line 580, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status ul li span {
  float: right;
  margin-right: 2.1vw;
  text-align: left;
  width: 0.5vw;
  font-size: 0.9vw;
  margin-top: 0.1vw;
}
/* line 596, ../sass/style.scss */
.main_wrapper .underscription {
  color: #000;
  font-family: "Museo Sans Cyrl 300";
  font-size: 0.92vw;
  margin: 2vw 0 0 7vw;
  float: right;
  z-index: 2;
  position: relative;
  left: -1.3vw;
}
/* line 605, ../sass/style.scss */
.main_wrapper .underscription a {
  color: #000;
}

/* line 612, ../sass/style.scss */
footer {
  height: 5vw;
  padding: 0.5vw 5.75vw 3vw 7.75vw;
  width: 84.5vw;
  color: #696969;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
}
/* line 619, ../sass/style.scss */
footer > div {
  display: inline-block;
}
/* line 621, ../sass/style.scss */
footer > div a {
  color: #696969;
  height: 1.5vw;
}
/* line 626, ../sass/style.scss */
footer > div p {
  height: 1.6vw;
}
/* line 630, ../sass/style.scss */
footer .for {
  float: right;
  text-align: right;
}

/* line 636, ../sass/style.scss */
.clicker {
  position: relative;
  z-index: 8;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 0.85;
  }
}
