/* line 5, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url('../fonts/MuseoSansCyrl_100.woff?1440710851') format('woff'), url('../fonts/MuseoSansCyrl_100.otf?1440187991') format('opentype'), url('../fonts/MuseoSansCyrl_100.ttf?1440710850') format('truetype');
}
@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url('../fonts/MuseoSansCyrl_300.woff?1440710857') format('woff'), url('../fonts/MuseoSansCyrl_300.otf?1440187991') format('opentype'), url('../fonts/MuseoSansCyrl_300.ttf?1440710857') format('truetype');
}
@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url('../fonts/MuseoSansCyrl_300.woff?1440710857') format('woff'), url('../fonts/MuseoSansCyrl_300.otf?1440187991') format('opentype'), url('../fonts/MuseoSansCyrl_300.ttf?1440710857') format('truetype');
}
@font-face {
  font-family: "Minion Pro Regular";
  src: url('../fonts/MinionPro-Regular.woff?1440793049') format('woff'), url('../fonts/MinionPro-Regular.otf?1440793049') format('opentype'), url('../fonts/MinionPro-Regular.ttf?1440793049') format('truetype');
}
/* line 28, ../sass/style.scss */
*::selection {
  background: #38bea9;
  /* Safari */
  color: #FFFFFF;
}

/* line 32, ../sass/style.scss */
*::-moz-selection {
  background: #38bea9;
  /* Firefox */
  color: #FFFFFF;
}

/* line 36, ../sass/style.scss */
.main_wrapper .in .btn_green, .main_wrapper .btn_copy {
  color: #FFF;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.25vw;
  width: 17.6vw;
  height: 3.3vw;
  background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: linear-gradient(to top, #01b99f 0%, #02caae 100%, #02d5b7 100%, #01b99f 100%);
  -moz-border-radius: 0.4vw;
  -webkit-border-radius: 0.4vw;
  border-radius: 0.4vw;
}
/* line 51, ../sass/style.scss */
.main_wrapper .in .btn_green > div, .main_wrapper .btn_copy > div {
  display: inline-block;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 13.5vw;
  text-align: center;
  padding: 1.1vw 0 0 0.5vw;
}
/* line 60, ../sass/style.scss */
.main_wrapper .in .btn_green .arrow, .main_wrapper .btn_copy .arrow {
  border-left: 1px solid #FFF;
  width: 2.5vw !important;
}

/* line 73, ../sass/style.scss */
.main_wrapper .in .btn_green:after, .main_wrapper .in .btn_green .btn_list:after, .main_wrapper .btn_copy:after, .main_wrapper .btn_copy .btn_status:after, .main_wrapper .in .input_searchline div, .main_wrapper .in .input_listblock div, .main_wrapper .in .btn_green .btn_list, .main_wrapper .btn_copy .btn_status {
  -moz-border-radius: 0.4vw;
  -webkit-border-radius: 0.4vw;
  border-radius: 0.4vw;
}

/* line 80, ../sass/style.scss */
.main_wrapper .in .btn_green:after, .main_wrapper .in .btn_green .btn_list:after, .main_wrapper .btn_copy:after, .main_wrapper .btn_copy .btn_status:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8bdfd2;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  z-index: 2;
  opacity: 0;
}
/* line 94, ../sass/style.scss */
.main_wrapper .in .btn_green:hover:after, .main_wrapper .in .btn_green .btn_list:hover:after, .main_wrapper .btn_copy:hover:after, .main_wrapper .btn_copy .btn_status:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

/* line 101, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .link a, .main_wrapper .underscription a, footer > div a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 106, ../sass/style.scss */
.lodo_smm {
  padding: 3.6vw 7.75vw 2.25vw;
  width: 12vw;
}

/* line 111, ../sass/style.scss */
.main_wrapper {
  padding: 0 7.75vw 2vw 7.75vw;
  height: 58vw;
}
/* line 114, ../sass/style.scss */
.main_wrapper > div {
  display: inline-block;
  width: 45%;
}
/* line 118, ../sass/style.scss */
.main_wrapper .in {
  float: left;
}
/* line 120, ../sass/style.scss */
.main_wrapper .in h1 {
  color: #000;
  font-family: "Museo Sans Cyrl 500";
  font-size: 1.9vw;
  padding-bottom: 2.8vw;
}
/* line 126, ../sass/style.scss */
.main_wrapper .in .input_p {
  color: #000;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.25vw;
  padding-bottom: 0.7vw;
}
/* line 132, ../sass/style.scss */
.main_wrapper .in .input_searchline {
  padding-bottom: 1.8vw;
}
/* line 134, ../sass/style.scss */
.main_wrapper .in .input_searchline div {
  width: 22.3vw;
  height: 2.2vw;
  border: 0.1vw solid #38BEA9;
  color: #CDCDCD;
  font-family: "Museo Sans Cyrl";
  font-size: 1.1vw;
  vertical-align: middle;
  padding-left: 0.6vw;
}
/* line 144, ../sass/style.scss */
.main_wrapper .in .input_searchline div input {
  border: none;
  color: #000;
  font-family: "Museo Sans Cyrl";
  font-size: 1.1vw;
  height: 90%;
}
/* line 150, ../sass/style.scss */
.main_wrapper .in .input_searchline div input:focus {
  outline: none;
}
/* line 157, ../sass/style.scss */
.main_wrapper .in .input_listblock div {
  width: 33.2vw;
  height: 30.5vw;
  border: 0.1vw solid #38BEA9;
  vertical-align: top;
}
/* line 164, ../sass/style.scss */
.main_wrapper .in .input_listblock textarea {
  border: none;
  color: #000;
  font-family: "Museo Sans Cyrl";
  font-size: 1.1vw;
  height: 97%;
  width: 95%;
  margin: 0.5vw 0 0 1.2vw;
  resize: none;
}
/* line 173, ../sass/style.scss */
.main_wrapper .in .input_listblock textarea:focus {
  outline: none;
}
/* line 178, ../sass/style.scss */
.main_wrapper .in .in_excel {
  padding: 1.2vw 0 1.7vw;
}
/* line 180, ../sass/style.scss */
.main_wrapper .in .in_excel input[type="checkbox"] {
  width: 0.6vw;
  height: 1vw;
}
/* line 184, ../sass/style.scss */
.main_wrapper .in .in_excel span {
  color: #4E4E4E;
  font-family: "Museo Sans Cyrl 500";
  font-size: 1.1vw;
}
/* line 190, ../sass/style.scss */
.main_wrapper .in .btn_green {
  position: relative;
}
/* line 194, ../sass/style.scss */
.main_wrapper .in .btn_green .btn_list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 32.8vw;
  height: 4.4vw;
  text-align: left;
  background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: linear-gradient(to top, #01b99f 0%, #02caae 100%, #02d5b7 100%, #01b99f 100%);
  color: #FFF;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  display: none;
}
/* line 212, ../sass/style.scss */
.main_wrapper .in .btn_green .btn_list p {
  margin-left: 0.6vw;
  padding: 0.2vw 0 0.5vw;
}
/* line 220, ../sass/style.scss */
.main_wrapper .out {
  margin-right: 1.7vw;
  float: right;
}
/* line 223, ../sass/style.scss */
.main_wrapper .out .out_headblock {
  color: #000;
  font-family: "Museo Sans Cyrl 500";
  font-size: 1.9vw;
  padding-bottom: 1.6vw;
}
/* line 230, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link {
  display: inline-block;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.4vw;
  text-decoration: none;
  color: #000;
  width: 8.4vw;
}
/* line 237, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link span {
  color: #CDCDCD;
  padding-left: 0.6vw;
}
/* line 241, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link .slable {
  border-bottom: 1px dotted rgba(224, 217, 217, 0.94);
  cursor: pointer;
  padding-left: 0;
}
/* line 246, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link.chosen {
  font-family: "Museo Sans Cyrl 500";
}
/* line 248, ../sass/style.scss */
.main_wrapper .out .subheader .subheader_link.chosen .slable {
  border-bottom: none;
  cursor: default;
  color: #000;
}
/* line 255, ../sass/style.scss */
.main_wrapper .out .subheader .del {
  width: 10vw;
}
/* line 259, ../sass/style.scss */
.main_wrapper .out .resultblock {
  margin: 1.2vw 0 0 -2vw;
  width: 42.5vw;
  height: 36vw;
  position: relative;
}
/* line 264, ../sass/style.scss */
.main_wrapper .out .resultblock .loader {
  width: 6vw;
  height: 6vw;
  position: absolute;
  z-index: 5;
  top: 10vw;
  left: 13vw;
}
/* line 272, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link {
  margin-top: 0.6vw;
}
/* line 274, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 278, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .number {
  color: #CDCDCD;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
  width: 2.8vw;
  text-align: center;
  margin-left: -1vw;
}
/* line 286, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .link {
  position: relative;
  overflow-x: hidden;
  width: 33vw;
  height: 1.2vw;
}
/* line 291, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .link a {
  position: absolute;
  width: 100vw;
  color: #000;
  font-family: "Museo Sans Cyrl 300";
  font-size: 1.1vw;
}
/* line 300, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .shadow {
  position: relative;
  margin-left: 0.3vw;
  width: 1.5vw;
  height: 1.2vw;
  box-shadow: -1.3vw 0 1.2vw 0.3vw #fff;
}
/* line 307, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info {
  margin-left: 0.4vw;
  height: 1vw;
}
/* line 310, ../sass/style.scss */
.main_wrapper .out .resultblock .el_list_link .add_info span {
  color: #38BEA9;
  font-family: "Museo Sans Cyrl 100";
  font-size: 0.9vw;
  text-transform: uppercase;
  padding-right: 0.3vw;
}
/* line 321, ../sass/style.scss */
.main_wrapper .next_prev {
  position: relative;
  width: 37vw;
  margin-top: 0.5vw;
  margin-left: 6.5vw;
  height: 3vw;
}
/* line 327, ../sass/style.scss */
.main_wrapper .next_prev a {
  position: absolute;
  color: #000;
  font-size: 1.1vw;
  text-decoration: none;
  font-weight: 400;
  font-family: "Museo Sans Cyrl 300";
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
/* line 335, ../sass/style.scss */
.main_wrapper .next_prev a span {
  font-family: "Minion Pro Regular";
}
/* line 339, ../sass/style.scss */
.main_wrapper .next_prev #next {
  left: 25.3vw;
}
/* line 343, ../sass/style.scss */
.main_wrapper .btn_copy {
  position: relative;
  margin-left: 7vw;
  width: 21.5vw;
}
/* line 349, ../sass/style.scss */
.main_wrapper .btn_copy > div {
  width: 17vw;
}
/* line 352, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status {
  position: absolute;
  z-index: 10;
  color: #FFF;
  font-family: "Museo Sans Cyrl";
  font-size: 1.12vw;
  width: 23.5vw;
  height: 8.4vw;
  top: 0;
  left: 0;
  background-image: -moz-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -o-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: -webkit-linear-gradient(bottom, #01B99F 0%, #02CAAE 100%, #02D5B7 100%, #01B99F 100%);
  background-image: linear-gradient(to top, #01b99f 0%, #02caae 100%, #02d5b7 100%, #01b99f 100%);
  text-align: left;
  display: none;
}
/* line 369, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status ul {
  list-style: none;
  padding: 0.3vw 0 0 1.2vw;
}
/* line 372, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status ul li {
  padding-bottom: 0.7vw;
  width: 100%;
}
/* line 375, ../sass/style.scss */
.main_wrapper .btn_copy .btn_status ul li span {
  float: right;
  margin-right: 2.1vw;
  text-align: left;
  width: 0.5vw;
  font-size: 0.9vw;
  margin-top: 0.1vw;
}
/* line 390, ../sass/style.scss */
.main_wrapper .underscription {
  color: #000;
  font-family: "Museo Sans Cyrl 300";
  font-size: 0.9vw;
  font-size: 0.92vw;
  margin: 1vw 0 0 7vw;
}
/* line 396, ../sass/style.scss */
.main_wrapper .underscription a {
  color: #000;
}

/* line 403, ../sass/style.scss */
footer {
  height: 5vw;
  padding: 0.5vw 5.75vw 3vw 7.75vw;
  width: 84.5vw;
  color: #696969;
  font-family: "Museo Sans Cyrl 100";
  font-size: 1.1vw;
}
/* line 410, ../sass/style.scss */
footer > div {
  display: inline-block;
}
/* line 412, ../sass/style.scss */
footer > div a {
  color: #696969;
  height: 1.5vw;
}
/* line 417, ../sass/style.scss */
footer > div p {
  height: 1.6vw;
}
/* line 421, ../sass/style.scss */
footer .for {
  float: right;
  text-align: right;
}

/* line 426, ../sass/style.scss */
.clicker {
  position: relative;
  z-index: 8;
}
